@mixin font($list) {
  font-family: nth($list, 1);
  font-weight: nth($list, 2);
}

$bebas-neue: ("Bebas Neue", cursive);
$montserrat-400: ("Montserrat", sans-serif) 400;
$montserrat-600: ("Montserrat", sans-serif) 600;
$montserrat-700: ("Montserrat", sans-serif) 700;
$montserrat-900: ("Montserrat", sans-serif) 900;

//
// Root
//

html {
  font-size: 100%;
}

@mixin body-text {
  @include font($montserrat-400);
  font-size: calculateRem(15px);
  line-height: 1.3;
}

body {
  @include body-text();
}

//
// Headings
//

h1,
.h1 {
  @include font($bebas-neue);
  font-size: calculateRem(70px);
  line-height: 0.9;
  letter-spacing: 0.05em;
}

h2,
.h2 {
  @include font($bebas-neue);
  font-size: calculateRem(50px);
  line-height: 0.9;
  letter-spacing: 0.05em;
}

h3,
.h3 {
  @include font($bebas-neue);
  font-size: calculateRem(30px);
  line-height: 0.9;
  letter-spacing: 0.05em;
}
